
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">TV-DB</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse pull-right">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#!/"><span class="glyphicon glyphicon-home"></span>&nbspHome</a></li>
                <li ng-show="model.currentUser._id"><a href="#!/profile"><span class="glyphicon glyphicon-user"></span>&nbspProfile</a></li>
                <li ng-show="!model.currentUser._id"><a href="#!/login"><span class="glyphicon glyphicon-log-in"></span>&nbspLogin</a></li>
                <li ng-show="!model.currentUser._id"><a href="#!/register"><span class="glyphicon glyphicon-user"></span>&nbspRegister</a></li>

            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>


<div class="content container-fluid">
    <button ng-click="model.goBack()" class="buttonBg">Go Back</button>
    <div class="row">
        <div class="col-xs-4">
            Poster
        </div>
        <div class="col-xs-4">
            Movie Name
        </div>
        <div class="col-xs-2">
            Rating (out of 10)
        </div>
        <div class="col-xs-2">
            Votes
        </div>
    </div>
    <ul class="list-group">
        <li  ng-click="model.searchMovieById(movie.id)" class="list-group-item" ng-repeat="movie in model.movies">
            <div   class="row"> <!--< href="/recipe/{{recipe.id}}" ng-click="model.searchRecipeById(recipe.id)"-->
                <div class="col-xs-4">
                    <img src="http://image.tmdb.org/t/p/w185/{{movie.poster_path}}" />
                </div>
                <div class="col-xs-4">
                    {{movie.title}}
                </div>
                <div class="col-xs-2 ">
                    <p>{{movie.vote_average}} </p>
                </div>
                <div class="col-xs-2 ">
                    <p>{{movie.vote_count}} </p>
                </div>
            </div>
        </li>
    </ul>
</div>