<div class="container-fluid">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">cooK-oka</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse pull-right">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#!/critic/movie">
                        Back
                    </a></li>
                    <li ><a href="#!/profile">Profile</a></li>
                </ul>
            </div>
        </div>
    </nav>

</div>

<div class="content container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <label for="name">Name</label>
            <input class="form-control"
                   ng-model="model.movie.name"
                   placeholder="movie name"
                   id="name"/>
            <label for="overview"> overview</label>
            <textarea class="form-control" ng-model="model.movie.overview" id="overview"></textarea>
            <label for="runtime">runtime</label>
            <input id="runtime"
                   placeholder="movie time"
                   ng-model="model.movie.runtime"
                   class="form-control">
            <br>
            <span class="btn btn-primary btn-block" ng-click="model.updateMovie(model.movie._id,model.movie)">
                Update
            </span>
        </div>

    </div>
</div>
